body {
    background-color: #000000;
}
table {
    background-color: #ffffff;
    padding: 5px;
}
#controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
td {
    padding: 3px;
}
.header {
    background-color: #44bbcc;
    font-weight: bold;
}
.bdiv {
    text-align: center;
}
button {
    font-size: 1.1em;
}
.ex:hover {
    background-color: #999966;
    color: #ffffff;
}
.toggle {
    background-color: #ffee66;
    color: #ffee66;
    position: absolute;
    right: 0px;
    width: 13px;
    height: 13px;
}
.draw {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
.blit {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    display: none;
}
.bc {
  width: 60px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px;
}
